@model DataAccessLayer.Entities.FormModel

@{
    ViewBag.Title = "InputAnswers";
}

<ul>
    <li>Name: @Html.DisplayFor(m => m.Name)</li>
    <li>Surname:@Html.DisplayFor(m => m.Surname)</li>
    <li>Telephone: @Html.DisplayFor(m => m.Email)</li>
    <li>Gender: @Html.DisplayFor(m => m.Gender)</li>
    <li>Online news delivery: @Html.DisplayFor(m => m.Online)</li>
    <li>Paper news delivery: @Html.DisplayFor(m => m.Paper)</li>
</ul>